
/* font-family: "OpenSansLight"; */

@font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSansLight/OpenSansLight.eot");
    src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
    url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "OpenSansSemiBold"; */

@font-face {
    font-family: "OpenSansSemiBold";
    src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
    src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"),
    url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "RalewayRegular"; */
@font-face {
    font-family: "RalewayRegular";
    src: url("../fonts/RalewayRegular/RalewayRegular.eot");
    src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"),
    url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "KelsonSans RegularRu"; */
@font-face {
    font-family: "KelsonSans RegularRu";
    src: url("../fonts/KelsonSansRegular/kelson-sans-regular-ru.eot");
    src: url("../fonts/KelsonSansRegular/kelson-sans-regular-ru.eot?#iefix") format("embedded-opentype"),
    url("../fonts/KelsonSansRegular/kelson-sans-regular-ru.woff") format("woff"),
    url("../fonts/KelsonSansRegular/kelson-sans-regular-ru.ttf") format("truetype"),
    url("../fonts/KelsonSansRegular/kelson-sans-regular-ru.svg#FontName") format("svg");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "KelsonSans LightRu"; */
@font-face {
    font-family: "KelsonSans LightRu";
    src: url("../fonts/KelsonSansLightRU/kelson-sans-light-ru.eot");
    src: url("../fonts/KelsonSansLightRU/kelson-sans-light-ru.eot?#iefix") format("embedded-opentype"),
    url("../fonts/KelsonSansLightRU/kelson-sans-light-ru.woff") format("woff"),
    url("../fonts/KelsonSansLightRU/kelson-sans-light-ru.ttf") format("truetype"),
    url("../fonts/KelsonSansLightRU/kelson-sans-light-ru.svg#FontName") format("svg");
    font-style: normal;
    font-weight: normal;
}

/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, /*hgroup,*/
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, /*hgroup,*/ menu, nav, section {
    display: block;
}

html{
    height: 100%;
}

body {
    height: 100%;
    font: 16px/20px "OpenSansLight", sans-serif;
    background-color: #fff;
    line-height: 1;
}
ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a, a:hover {
    text-decoration: none;
}

.clearfix:before,
.clearfix:after {    
    display: table;    
    content: " ";    
}
.clearfix:after {
    clear: both;
}

.left {
    float: left;
}
.right {
    float: right;
}

#intro{
    /*position: absolute;*/
    left: 0;
    right: 0;
    width: 100%;
    min-width: 580px;
    padding: 55px 0 0 0;
    min-height: 905px;
    background: #999 url("../img/intro-bg.jpg") no-repeat center bottom;
    -webkit-background-size: cover;
       -moz-background-size: cover;
       -ms-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.container{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 6px;
}

.logo {
    display: inline-block;
    float: left;
}

.logo a {
    display: inline-block;
    height: 119px;
    width: 490px;
    background: #fff;
    margin-right: 20px;
}

.logo div {
    font: 45px/65px "RalewayRegular", Sans-Serif;
    text-transform: uppercase;
    color: #fff;
    margin: 0 20px 0 0;
}

.intro-block {
    display: inline-block;
    height: 185px;
    width: 185px;
    float: right;
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    font: 20px "KelsonSans RegularRu", Sans-Serif;
}

.phons-list {
    display: inline-block;
    height: 185px;
    width: 370px;
    float: right;
    text-align:right;
}

.phons-list li{
    width: 100%;
    font: 46px "KelsonSans RegularRu", Sans-Serif;
    color: #fff;
    text-align: inherit;
}

a.intro-block{
    background-color: #1ccba8;
    background-repeat: no-repeat;
    background-position: center 35%;
    line-height: 270px;
    vertical-align: bottom;
}

a.intro-block:hover {
    background-color: #18ad90;
    color: #fff;
}

a.intro-block:active {
    background-color: #1ccba8;
}

a#team-block {
    background-image:url("../img/team-ico.png");
    background-size: 50%;
}

a#aboutUs-block {
    background-image:url("../img/aboutUs-ico.png");
    background-size: 30%;
}

a#service-block {
    background-image:url("../img/service-ico.png");
    background-size: 30%;
}

a#portfolio-block {
    background-image:url("../img/portfolio-ico.png");
    background-size: 30%;
}

a#contact-block {
    background-image:url("../img/contact-ico.png");
    background-size: 30%;
}

#intro div.image {
    background: #fff no-repeat center center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
        -ms-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

#intro #im1-block {
    background-image: url("../img/im1.jpg");
}

#intro #im2-block {
    background-image: url("../img/im2.jpg");
}

#intro #im3-block {
    background-image: url("../img/im3.jpg");
}

#intro #im4-block {
    background-image: url("../img/im4.jpg");
}

#intro #im5-block {
    background-image: url("../img/im5.jpg");
}

.btn,
#callback input[type="text"]{
    display: inline-block;
    font: 20px "KelsonSans LightRu", Sans-Serif;
    color: #fff;
    text-transform: uppercase;
    border: #1abc9c solid 4px;
    margin: 10px 0 10px 10px;
    background-color: rgba(255,255,255,.35);
}

.btn {
    width: 187px;
    height: 65px;
    -webkit-border-radius:25px/30px;
       -moz-border-radius:25px/30px;
        -ms-border-radius:25px/30px;
         -o-border-radius:25px/30px;
            border-radius:25px/30px;
}

.btn:hover {
    background-color: rgba(255, 255, 255, .2);
    cursor: pointer;
}

.btn:active {
    background-color: rgba(255, 255, 255, .35);
}

#callback input[type="text"] {
    padding: 0 10px;
    height: 57px;
    width: 330px;
    text-align: right;
    background-color: rgba(255, 255, 255, .35);
    -webkit-border-radius:20px;
       -moz-border-radius:20px;
        -ms-border-radius:20px;
         -o-border-radius:20px;
            border-radius:20px;
}

#callback input[type="text"]:focus{
    background-color: rgba(255, 255, 255, .2);
}

.timer {
    height: 170px;
    width: 365px;
    padding: 4px;
    margin: 20px auto;
    background-color: #fff;
    overflow: visible;
}

br { clear: both; }
.cntSeparator {
    font-size: 36px;
    margin: 7px 5px;
    color: #000;
}
.desc { margin: 7px 3px; }
.desc div {
    float: left;
    font-family: Arial;
    width: 58px;
    margin-right: 28px;
    font-size: 13px;
    font-weight: bold;
    color: #000;
}

.next {
    display: block;
    margin: 0 auto;
    height: 28px;
    width: 60px;
    background: url("../img/arrow-next.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.next:hover {
    height: 31px;
    width: 66px;
}

.next:active {
    margin-top: 25px;
}

nav {
    min-width: 580px;
    margin-top: -1px;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 114px;
    background-color: #1abc9c;
}

ul.nav {
    float: right;
}

ul.nav li {
    float: left;
    margin-left: 30px;
}

ul.nav li:first-child {
    margin-left: 0;
}

ul.nav a{
    font: 18px "KelsonSans LightRu", Sans-Serif;
    text-transform: uppercase;
    line-height:114px;
    color: #fff;
}

ul.nav a:hover {
    color: #ddd;
}

ul.nav a:active {
    color: #fff;
}

#aboutUs{
    left: 0;
    right: 0;
    width: 100%;
    padding: 66px 0;
    min-width: 580px;
    min-height: 888px;
}

h1{
    margin: 32px 0;
    text-align: center;
    font: 32px "OpenSansSemiBold", Sans-Serif;
    color: #1abc9c;
}

.line {
    margin: 0 auto;
    width: 270px;
    border-top: 1px solid #b5b5b5;
}

.line .innerline {
    margin: 0 auto;
    width: 70px;
    border-bottom: 4px solid #1abc9c;
}